# Dependency directories
node_modules/
../node_modules/
.terraform/
**/.terraform/
.terraform.lock.hcl
**/.terraform.lock.hcl
.terraform.tfstate
**/.terraform.tfstate
.terraform.tfstate.backup
**/.terraform.tfstate.backup
