[submodule "01-HTML-CSS-JS-Jemerson/Aula-02/exemplo-aula/jfnandopr-pos-unipar-html-css-js-atividade"]
	path = 01-HTML-CSS-JS-Jemerson/Aula-02/exemplo-aula/jfnandopr-pos-unipar-html-css-js-atividade
	url = https://github.com/pos-unipar/jfnandopr-pos-unipar-html-css-js-atividade.git
[submodule "01-HTML-CSS-JS-Jemerson/Aula-03/exemplo-aula/jfnandopr-pos-unipar-html-css-js-atividade"]
	path = 01-HTML-CSS-JS-Jemerson/Aula-03/exemplo-aula/jfnandopr-pos-unipar-html-css-js-atividade
	url = https://github.com/pos-unipar/jfnandopr-pos-unipar-html-css-js-atividade.git
[submodule "02-Angular-Jean/Aula-01/exemplo-aula/app-unipar"]
	path = 02-Angular-Jean/Aula-01/exemplo-aula/app-unipar
	url = https://github.com/pos-unipar/app-unipar.git
[submodule "02-Angular-Jean/Aula-02/exemplo-aula/app-unipar2"]
	path = 02-Angular-Jean/Aula-02/exemplo-aula/app-unipar2
	url = https://github.com/pos-unipar/app-unipar2.git
[submodule "02-Angular-Jean/Aula-03/exemplo-aula/app-unipar2"]
	path = 02-Angular-Jean/Aula-03/exemplo-aula/app-unipar2
	url = https://github.com/pos-unipar/app-unipar2.git
[submodule "02-Angular-Jean/Aula-04/exemplo-aula/app-unipar4"]
	path = 02-Angular-Jean/Aula-04/exemplo-aula/app-unipar4
	url = https://github.com/pos-unipar/app-unipar4.git
[submodule "04-Backend-Java-Djonathan/Aula-02/exemplo-aula/unipar-2021-pos-backend-plano"]
	path = 04-Backend-Java-Djonathan/Aula-02/exemplo-aula/unipar-2021-pos-backend-plano
	url = https://github.com/pos-unipar/unipar-2021-pos-backend-plano.git
[submodule "04-Backend-Java-Djonathan/Trabalho/unipar-2021-trabalho-plano"]
	path = 04-Backend-Java-Djonathan/Trabalho/unipar-2021-trabalho-plano
	url = https://github.com/pos-unipar/unipar-2021-trabalho-plano.git
[submodule "05-Android-Paulo/Aula-01/exemplo-aula/unipar-CadastroAlunos"]
	path = 05-Android-Paulo/Aula-01/exemplo-aula/unipar-CadastroAlunos
	url = https://github.com/pos-unipar/unipar-CadastroAlunos.git
[submodule "06-Flutter-Marcos/Aula-01/exemplo-aula/aula_01_pos_02_04_2022"]
	path = 06-Flutter-Marcos/Aula-01/exemplo-aula/aula_01_pos_02_04_2022
	url = https://github.com/pos-unipar/aula_01_pos_02_04_2022.git
[submodule "06-Flutter-Marcos/Aula-02/exemplo-aula/aula_02_pos_09_04_2022"]
	path = 06-Flutter-Marcos/Aula-02/exemplo-aula/aula_02_pos_09_04_2022
	url = https://github.com/pos-unipar/aula_02_pos_09_04_2022.git
[submodule "06-Flutter-Marcos/Aula-03/exemplo-aula/aula_03_pos_23_04_2022"]
	path = 06-Flutter-Marcos/Aula-03/exemplo-aula/aula_03_pos_23_04_2022
	url = https://github.com/pos-unipar/aula_03_pos_23_04_2022.git
[submodule "06-Flutter-Marcos/Aula-04/exemplo-aula/aula_04_pos_30_04_2022"]
	path = 06-Flutter-Marcos/Aula-04/exemplo-aula/aula_04_pos_30_04_2022
	url = https://github.com/pos-unipar/aula_04_pos_30_04_2022.git
[submodule "06-Flutter-Marcos/Aula-04/exemplo-aula/aula_04_bloc_pos_30_04_2022"]
	path = 06-Flutter-Marcos/Aula-04/exemplo-aula/aula_04_bloc_pos_30_04_2022
	url = https://github.com/pos-unipar/aula_04_bloc_pos_30_04_2022.git
[submodule "08-Nodejs-Marlon/Aula-03/exemplo-aula/aula-node-posunipar"]
	path = 08-Nodejs-Marlon/Aula-03/exemplo-aula/aula-node-posunipar
	url = https://github.com/pos-unipar/aula-node-posunipar.git
[submodule "08-Nodejs-Marlon/Aula-04/exemplo-aula/aula-node-posunipar"]
	path = 08-Nodejs-Marlon/Aula-04/exemplo-aula/aula-node-posunipar
	url = https://github.com/pos-unipar/aula-node-posunipar.git
[submodule "09-DevOps-Jemerson/Aula-01/exemplo-aula/unipar-devops"]
	path = 09-DevOps-Jemerson/Aula-01/exemplo-aula/unipar-devops
	url = https://github.com/pos-unipar/unipar-devops.git
