body {
    background-color: rgb(177, 177, 177);
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

header {
    font: {
        family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        weight: 700;
    }

    padding: 8px;
}

input {
    background-color: rgb(0, 255, 242);
    border-radius: 10px;
    padding: 8px;
    margin: 10px 0px 10px 0px;
}

table {
    width: 100%;
    border: 2px;
    border-style: dotted;

    tr {
        padding: 20px;

        td {
            &:nth-child(1) {
                color: rgb(47, 0, 255);
                width: 75%;
            }
            &:nth-child(2) {
                color: rgb(115, 255, 0);
            }
        }
    }

    input {
        background-color: rgb(166, 58, 255);
    }
}
