header {
    text-align: center;
    font-weight: 800;
    font-size: larger;
    padding-bottom: 20px;
}

table {
    input,
    textarea {
        width: 100%;
    }

    .enviar {
        text-align: center;
        margin-top: 35px;
    }

    tr {
        td {
            &:nth-child(1) {
                text-align: right;
            }
        }
    }
}

body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 500px;

    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}
